& {
  .movie-container {
    border: 2px solid rgb(199, 191, 191);
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  h2 {
    padding-top: 2rem;
    color: #e91c50;
  }

  p {
    padding-top: 1rem;
  }

  #movie-info {
    padding: 1rem;
  }
  #movie-buttons {
    padding-left: 25rem;
    gap: 1rem;
  }
  .error-message {
    background-color: white;
    border: 4px solid #0a4cd1;
    border-radius: 4px;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    color: red;
  }

  .success-message {
    background-color: white;
    border: 4px solid #0a4cd1;
    border-radius: 4px;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    color: green;
  }
}
